* {
	margin: 0px;
	padding: 0px;
}

header, nav {
	display: inline;
	margin: 0.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	color: #ffffff;
}

header{
	width: 40%;	
	font-size: 2.2em;
	text-align: center;	
	text-shadow: 2px 2px 2px #000000;
}

nav {
	width: 60%;	
	font-size: 1.2em;
	text-align: left;
}

section {
	width: 60%;
	margin: 1.5em;
	text-align: justify;
}

.li_menu {
	display: inline;
	margin: 1em;
}

.contenedor_a {
	display: flex;
	background: #0000ff;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}



footer {
	font-style: normal;  /*cursiva*/
	font-weight: normal; /*Grosor de la fuente*/
	line-height: 1em;    /*Espacio de interlineado*/
	font-size: 1em;		/*Tamaño de la fuente*/
	font-family: Arial, Helvetica, sans-serif; /*Tipo de fuente*/
	display: flex;
	background: #0000ff;
}

.title-a {
	color: #000000;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 1em;
}

.contenedor_footer > p{
	color: #ffffff;
}
.contenedor_footer {
	text-align: justify;
	padding: 1.5em;
	width: 33%;	
}

.cajas-body {
	display: block;
	margin: 1em;
}

.contenedor-section {
	display: flex;
}